body {
  margin-top: 11vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

h1 {
  /*font-size: 3.5vw;*/
  margin-bottom: 1vw;
  font-size: 2vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 2.3vw;
}

p {
  margin-top: 0.5vw;
  font-size: 2vw;
}

li {
  font-size: 1.5vw;
  margin-left: -4vw;
  margin-top: 1.5vw;
}


/* Divide the page in columns */
.container {
  display: grid;
  grid-template-columns: [col-1-start] 1fr [col-2-start] 1fr [col-3-start]
      1fr [col-4-start] 1fr [col-5-start] 1fr [col-6-start] 1fr [col-6-end];
  grid-row: auto;
}

.main-col-full {
  grid-column: col-1-start/col-6-end;
}

.main-col-1-4 {
  grid-column: col-1-start/col-4-start;
}

.main-col-4-6 {
  grid-column: col-4-start/col-6-end;
}

[class*="pict-"] {
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 1vw;
  padding: 0.2vw;
  height: 18vw;
}

[class*="pict-"]:hover {
  margin-top: 0.5vw;
}

.pict-col-1-2 {
  grid-column: col-1-start/col-3-start;
}

.pict-col-3-4 {
  grid-column: col-3-start/col-5-start;
}

.pict-col-5-6 {
  grid-column: col-5-start/col-6-end;
}

.logo {
  float: left;
  width: 10vw;
  padding: 0.5vw;
  padding-left: 2vw;
}

.backgroundBlue {
  background-image: url("../images/test2.png");
  background-repeat: no-repeat;
  /*background-position: center;*/
  background-position-y: 8vw;
  background-attachment: fixed;
  background-size: 100vw;
  height: 28vw;
  overflow-x: hidden;
}

.backgroundRed {
  background-color: #8e3242;
}

.backgroundGrey {
  background-color: #9b9b9d;
}

.borderRed {
  border-left: 2vw;
  border-right: 2vw;
  border-top: 0vw;
  border-bottom: 0vw;
  border-style: solid;
  border-color: #8e3242;
}

.borderRedDegreesLeft {
  border-left: 2vw;
  border-right: 1vw;
  border-top: 0vw;
  border-bottom: 0vw;
  border-style: solid;
  border-color: #8e3242;
}

.borderDegreesRight {
  border-left: 1vw;
  border-right: 2vw;
  border-top: 0vw;
  border-bottom: 0vw;
  border-style: solid;
  border-color: #8e3242;
}

.borderTop {
  border-top: 1px solid black;
  border-left: 0vw;
  border-right: 0vw;
  border-bottom: 0vw;
}

.degreeImages {
  height: 15vw;
}

/* Horizontal navigation bar */
.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid black;
  z-index: 1; /* Place navbar over everything else */
  background-color: white;
}

/* List elements in navbar */
.navbar li {
  float: right;
  display: inline;
  font-size: 2vw;
  padding: 2.5vw;
  margin-top: 0vw;
  padding-top: 3vw;
  margin-left: 0vw;
}

/* Link style */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.active {
  text-decoration: underline;
}

.degreeButton {
  margin-left: 10vw;
  margin-top: 12vw;
  font-size: 2vw;
  background-color: #8e3242;
  color: white;
  height: 4vw;
  width: 22vw;
  border: 1px solid white;
}

.degreeButton:hover {
  background-color: white;
  color: #8e3242;
}

/* Position dropdownContent */
.dropdown {
  padding-left: 10vw;
  padding-top: 12vw;
  position: absolute;
  display: inline-block;
  /*z-index: 1;*/ /* Tok den vekk fordi den havna oppå navbardropdown på phone */
}

/* Menu button style */
/* Inspiration for button design: https://www.w3schools.com/css/css3_buttons.asp */
/* VILDE - si ifra om du endrer noe i button, for jeg bruker designet på de
    andre sidene */
/*button {
  font-size: 2vw;
  background-color: #afafb6;
  height: 8vw;
  width: 22vw;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}*/

/* Content boxes style */
.dropdownContent {
  display: none;
  background-color: #c9c9cf;
  position: absolute; /* Don't move the rest of the content */
  text-align: center;
  width: 22vw;
}

/* Link styles in menu */
.dropdownContent a {
  display: block;
  border: 1px solid;
  border-color: black;
  padding: 1vw;
}

/* When hovering, show dropdownContent */
.dropdown:hover .dropdownContent {
  display: block;
}

.subMenu button {
  margin-left: 1.4vw;
  margin-top: 1.4vw;
  font-size: 2vw;
  background-color: #afafb6;
  height: 8vw;
  width: 22vw;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  /* Allign buttons with line breaks with buttons without line breaks */
  vertical-align: bottom;
}

.subMenu button:hover {
  background-color: #6e1519;
  color: white;
}

.textAlignCenter {
  text-align: center;
}

.sixBoxes button {
  height: 18vw;
  width: 29vw;
  font-size: 2vw;
  background-color: white;
  border: none;
  box-shadow: none;
}

.linkPictures {
  margin-left: -0.45vw;
  height: 10vw;
  width: 29vw;
}

.iconImage {
  width: 4.1vw;
  margin-left: -0.7vw;
  margin-top: -0.3vw;
}

.iconButton {
  display: inline-block;
  margin-left: 2.4vw;
  padding-left: 1vw;
  /*background-color: #afafb6;*/
  background-color: black;
  height: 5vw;
  width: 5vw;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.iconButton:hover {
  background-color: #6e1519;
}

footer {
  margin-top: 2vw;
  border-top: 1px solid black;
  margin-left: -2vw;
  margin-right: -2vw;
}

.hideOnPc {display: none;} /* Hide content on pc */

/* Phone */
@media only screen and (max-width: 600px) {
  .hideOnPh {display: none;} /* Hide content on phone */
  .showOnPh {display: block;} /* Show content hidden on the pc version */

  body {
    margin-top: 16vw;
  }

  h1 {
    /*font-size: 7vw;*/
  }

  h1 {
    font-size: 4.7vw;
  }

  h2 {
    font-size: 9.7vw;
  }

  h3 {
    font-size: 3vw;
  }

  p {
    margin-top: 1vw;
    font-size: 5vw;
  }

  li {
    font-size: 2.9vw;
    margin-left: -8vw;
    margin-top: 2vw;
  }

  .logo {
    width: 15vw;
  }

  /* Horizontal navigation bar */
  .navbar {
    height: 17vw;
  }

  .backgroundBlue {
    background-position-y: 16vw;
    height: 33vw;
  }

  .degreeImages {
    height: 25vw;
  }

  .degreeButton {
    margin-left: 8vw;
    margin-top: 12vw;
    font-size: 3vw;
    height: 6vw;
    width: 32vw;
  }

  /* Menu button navbar */
  .dropdownButton {
    font-size: 11vw;
    float: right;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border: none;
    background-color: white;
    box-shadow: none;
    height: 17vw;
  }

  /* Content boxes style */
  .dropdownContent {
    margin-top: 17vw;
    width: 100%;
    display: none;
    position: absolute; /* Don't move the rest of the content */
    background-color: white;
    text-align: center;
  }

  /* Link styles in menu */
  .dropdownContent a {
    display: block;
    border: 1px solid grey;
    padding: 1vw;
  }

  /* Change color of menu button if hovering */
  .dropdownButton:hover {
    background-color: #cac7c9;
  }

  /* When hovering the menu button, show dropdownContent */
  .dropdownButton:hover + .dropdownContent {
    display: block;
  }

  /* Keep showing content in dropdown menu if hovering the list */
  .dropdownContent:hover {
    display: block;
  }

  /* Bigger buttons on phone */
  .subMenu button {
    height: 20vw;
    width: 44vw;
    font-size: 3vw;
    margin-left: 2.2vw;
    margin-bottom: 5vw;
    font-size: 4vw;
  }

  .sixBoxes button {
    margin-top: 3vw;
    height: 50vw;
    width: 96vw;
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /*height: 18vw;
    width: 29vw;
    font-size: 2vw;
    background-color: white;
    border: none;
    box-shadow: none;*/
  }

  .linkPictures {
    width: 100%;
    height: 30vw;
    /*margin-left: -0.45vw;
    height: 10vw;
    width: 29vw;*/
  }

  .iconImage {
    width: 4.1vw;
    margin-left: -0.7vw;
    margin-top: -0.3vw;
  }

  .iconButton {
    margin-left: 2.4vw;
    padding-left: 1vw;
    height: 4vw;
    width: 5vw;
  }
}
