body {
  margin-top: 20vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

/* Divide the page in columns */
.container {
  display: grid;
  grid-template-columns: [col-1-start] 1fr [col-2-start] 1fr [col-3-start]
      1fr [col-4-start] 1fr [col-5-start] 1fr [col-6-start] 1fr [col-6-end];
  grid-row: auto;
}

.main-col-full {
  grid-column: col-1-start/col-6-end;
}

.logo {
  float: left;
  width: 8vw;
  padding: 0.5vw;
  padding-left: 2vw;
}

.backgroundBlue {
  background-image: url("../image/blue1.jpg");
  padding-top: 1px;
  height: auto;
  width: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}


/* Horizontal navigation bar */
.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid black;
  z-index: 1; /* Place navbar over everything else */
}

/* List elements in navbar */
.navbar li {
  float: right;
  display: inline;
  font-size: 2vw;
  padding: 2.5vw;
  padding-top: 2vw;
}

/* Link style in navbar */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.hideOnPc {display: none;} /* Hide content on pc */

/* Phone */
@media only screen and (max-width: 600px) {
  .hideOnPh {display: none;} /* Hide content on phone */
  .showOnPh {display: block;} /* Show content hidden on the pc version */

  .logo {
    width: 15vw;
  }

  /* Horizontal navigation bar */
  .navbar {
    height: 17vw;
  }

  /* Menu button */
  .dropdownButton {
    font-size: 11vw;
    float: right;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border: none;
    background-color: white;
  }

  /* Content boxes style */
  .dropdownContent {
    margin-top: 17vw;
    width: 100%;
    display: none;
    position: absolute; /* Don't move the rest of the content */
    background-color: white;
    text-align: center;
  }

  /* Link styles in menu */
  .dropdownContent a {
    display: block;
    border: 1px solid grey;
    padding: 1vw;
  }

  /* Change color of menu button if hovering */
  .dropdownButton:hover {
    background-color: #cac7c9;
  }

  /* When hovering the menu button, show dropdownContent */
  .dropdownButton:hover + .dropdownContent {
    display: block;
  }

  /* Keep showing content in dropdown menu if hovering the list */
  .dropdownContent:hover {
    display: block;
  }
}
